
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.ghostLi{
  width: 20px;
  height: 50px;
  background-color: white !important;
  opacity: 0;

}

.listItem {
  padding: 10px 10px 10px 10px;
  margin: 3px;
  background-color: red;
  color: white;
  width: 30px;
  height: 30px;



  border-top-width: 0px;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;


}

.dataTransferClass {
  background-color: brown;
}

.dragStartClass {
  opacity: 0.3;



  border-top-width: 0px !important;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.dragStartClass + li {
border-top-width: 0px !important;
}



.listItem.over {
  /*border-top: thick solid white;
  border-top-width: 50px;*/
  border-top: 50px solid blue;
  border-top: 50px solid rgba(255, 0, 0, .5);
  /*-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */*/



  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.hideListChild{
  /*background-color: blue !important;*/
  height: 0px;
}

.hide {
  visibility:  hidden;
  display: none;
}

#checklist {

    list-style-type: none;
    background-color: blue;
    margin: 10px;
    padding: 10px;
    width: 100px;

}
